.todo {
    min-height: 100vh;
    background-color: #111;
    font-family: sans-serif;
    padding: 20px;
}
.todo__box {
    max-width: 900px;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
}
.todo__title {
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.todo__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.todo__input {
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;

}
.todo__btn {
    border: none;
    outline: none;
    padding: 16px 30px;
    background-color: #03793b;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    color: white;
}

.todo__list li {
    cursor: pointer;
    font-size: 18px;
    padding: 12px 10px 12px 50px;
    position: relative;
}
.todo__list li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #111;
    top: 12px;
    left: 10px;
}

.todo__list li.checked {
    color: #555;
    text-decoration: line-through;
}
.todo__list li.checked::before {
    border-color: #03793b;
    background-color: #03793b;
}
.todo__list li.checked::after {
    content: '\2714';
    position: absolute;
    top: 10px;
    left: 14px;
    color: #fff;
}
.todo__list li span {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.todo__list li span:hover {
    background-color: #f1f1f1;
}